
* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
  font-weight: 600;
}

.hg-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hg-columns {
  display: flex;
  flex-grow: 1;
}

header {
  background-color: tomato;
  height: 60px;
  display: flex;
  justify-content: center;
}

nav {
  background-color: coral;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

main {
  background-color: moccasin;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

aside {
  background-color: sandybrown;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

footer {
  background-color: slategray;
  height: 100px;
  display: flex;
  justify-content: center;
}
