body {
  font-family: sans-serif;
}

.container {
  /* margin: 50px 0 0 50px; */
  width: 100%;
  height: 100vh;
}

.tab-btns button {
  padding: 10px;
  border: none;
}

.tab-btns .active {
  color: blue;
  background-color: aqua;
}

.accordian {
  width: 500px;
}

.acc-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
}

.acc-item--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.star-rating {
  display: flex;
}

.star {
  font-size: 40px;
  padding: 0 10px;
}

.star.active {
  color: gold;
}

.star:hover, .star:has(~ .star:hover) {
  color: gold;
}

.clock-container {
  width: 200px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: 10px solid grey;
  border-radius: 10px;
  margin: 10px;
}

.clock-container p {
  padding: 5px;
}

.todolist-container {
  margin: 50px;
}

.todolist-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.todolist-item button {
  margin-left: 10px;
  height: 32px;
}